#!/bin/bash

###############################################################################
#
#                            Aliases for Terminal
#
###############################################################################

# some more ls aliases
alias ll='exa --all --long --header --group --git'
# alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Tree shortcuts
alias lt='tree -L 1 -a'
alias lt2='tree -L 2 -a'
alias lt3='tree -L 3 -a'

# Change directory shortcuts
alias cd2='cd ../..'
alias cd3='cd ../../..'
alias cd4='cd ../../..'
alias cdp='cd ~/Projects'

# Create a directory and cd into it
function mkdircd () { mkdir -p "$@" && eval cd "\"\$$#\""; }

# Copy to clipboard
alias ccc='xclip -sel clip'

# git add and commit
alias gitac='git add . && git commit -m "minor quick changes"'

# arp-sca
alias arp="sudo arp-scan -l"

# Send a file with croc
alias croc-send="croc send --code ismet-mail"

# Ignore potential python 2
alias python="python3"

# Create live server for current directory
alias serve="python3 -m http.server"

# Creating a python3 virtual envirnoment
alias mkpyvenv="python3 -m venv env; source env/bin/activate"
alias env-on="source env/bin/activate"
alias env-off="deactivate"

# Substituting exa for ls
alias ls="exa"

# Subsituting bat for cat
alias cat="bat -p"

# Substituting man with tldr
alias man="tldr"

# Reload the shell
alias reload-shell="exec $SHELL"

# Other
alias yj="yojenkins"
