[user]
	email = ismet.handzic@gmail.com
	name = Ismet Handzic
	username = ismet55555
[core]
	editor = nvim
[web]
	browser = google-chrome
[alias]
	s = status
	a = add
	c = commit
	m = merge
	ps = push
	pl = pull
	################################
	f = fetch
	fo = fetch origin
	fu = fetch upstream
	################################
	l = log --oneline
	lg = log --oneline --graph --decorate
