[user]
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCRHg1EUamfcGogYZCP8Fo9jndexkc+Gy9mKlRyydAJGPftfjpoYXsulnFyGf1h27qiGaferA2k+juczVIbbLtt7KAPVvJkWo5/qB50jbkVFMKyhnraE54OpXm7rpRVxKIelW9cVvaN2K8oJJnNV7eYmszZxJFZRlmOZssRzHKPDnrqUJG/oWCMApXINW43l6g5/SpdYJ6nkvta5XDPLL2TD6wzSIFmrXEXZXDxBkqHlRaN/5T6szmd4pvuVgid9aH10IfnTjUrSlIbDf7zQv7lBTzpXiyV8NPM5OAeUv4cEPE8u57uY0PtMDzuieoO/5NjyKYQUcWijiEGzlZowflW5psOeu9XX4vPjds8EFUDrBXfKozuD+C1W27BuzVvmWdNMdFnIfDujkhQangsFDC29yeJP/SuRA2JEEKbeyZtm9tlmO36ti1ovzHcS6S1t+Oj6D2rukN3q55DiMsCObxN+cVjYA9JXokYwlTTqcWW0kGnMqEfw2zdtpE23zLZPV8= ismet@cell-S7A6Y
	email = ismet.handzic@gmail.com
	name = Ismet Handzic
	username = ismet55555

[core]
	editor = nvim

[web]
	browser = google-chrome

[alias]
	s = status
	a = add
	c = commit
	m = merge
	ps = push
	pl = pull
	################################
	f = fetch
	fo = fetch origin
	fu = fetch upstream
	################################
	l = log --oneline
	lg = log --oneline --graph --decorate

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
	gpgsign = true
